* {
  font-family: 'Antic Slab', serif;
  box-sizing: border-box!important;
  max-width: 100vw;
  overflow-x: hidden;
}

html, body {
  background-color: rgb(204, 204, 255);
  color: black;
  font-size: 13px;
  line-height: 2;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 25px;
}

img {
  width: 20vw;
  border-radius:50%;
  margin-left: 400px;
}

h1 {
    margin-bottom: 20px;
    color: black;
    font-size: 40px;
    font-weight: bolder;
  }

h2 {
    color: black;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px;
    background-color: #ccccff;
    text-align: center;
    width: 100vw;
    margin: 0;
}

nav ul {
    margin: auto;
    padding: 0;
    list-style: none;
    background-color: rgb(204, 204, 255);
    width: 90vw;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 1px;
}

nav a {
  text-decoration: none;
}

.brief p {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 160px;
}
p {
  width: 80vw;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
  padding: 3px 3px;
  transition: color 0.3s ease;
}

a:hover {
  color: red;
}

.page-content {
background-color: rgb(204, 204, 255);
margin-top: 0;
width: 100vw;
}

.Contact {
margin-left: 1100px;
font-size: 16px;
}

.Contact a {
font-size: 25px;
}

.Education {
background-color: #BFB0E7;
width: 1750px;
margin: 0 auto;
margin-bottom: 100px;
border-radius: 4%;
}

.Work {
background-color: #BFB0E7;
width: 1750px;
margin: 0 auto;
margin-bottom: 100px;
border-radius: 4%;
}

.International {
background-color: #B495CD;
width: 1750px;
margin: 0 auto;
margin-bottom: 100px;
border-radius: 4%;
}

.Skills {
background-color: #B495CD;
width: 1750px;
margin: 0 auto;
margin-bottom: 100px;
border-radius: 4%;
}

.Degrees {
background-color: #B495CD;
width: 1750px;
margin: 0 auto;
margin-bottom: 100px;
border-radius: 4%;
}

.Languages {
background-color: #A979B1;
width: 1750px;
margin: 0 auto;
margin-bottom: 100px;
display: inline-block;
display: inline-block;
border-radius: 4%;
}

.pic {
    display: inline-block;
    width: 10vw;
    margin: 0 auto;
}

.Interests {
background-color: #A979B1;
width: 1750px;
margin: 0 auto;
margin-bottom: 100px;
border-radius: 4%;
}

.Interests i {
width: 300px;
font-size: 50px;

}

.Credit {
font-weight: bold;
}

@media (max-width: 1080px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .container {
    width: 50%;
  }
}
@media (max-width: 360px) {
  .container {
    width: 25%;
  }
}


